apiVersion: v1
data:
  tls.crt: "{{ ingress_cert | b64encode }}"
  tls.key: "{{ ingress_key | b64encode }}"
kind: Secret
metadata:
  name: ingress-certs
  namespace: openshift-ingress
type: kubernetes.io/tls
