apiVersion: v1
data:
  ca-bundle.crt: "{{ fluent_crt | default() | b64encode }}"
  shared_key: "{{ fluentd_shared_key | default() | b64encode }}"
kind: Secret
metadata:
  name: fluentd-forward
  namespace: openshift-logging

