apiVersion: v1
data:
  fluent.conf: "{{ lookup('template','fluent.conf.j2') | b64encode }}"
  fluent.crt: "{{ fluent_crt | default() | b64encode }}"
  fluent.key: "{{ fluent_key | default() | b64encode }}"
  splunk-ca.crt: "{{ splunk_ca_cert | default() | b64encode }}"
kind: Secret
metadata:
  name: fluentd-splunk
  namespace: fluentd-splunk

