apiVersion: machine.openshift.io/v1beta1
kind: MachineHealthCheck
metadata:
  name: {{ machineset }}
  namespace: openshift-machine-api
spec:
  selector:
    matchLabels:
      machine.openshift.io/cluster-api-machine-role: {{ (machineset is search('infra')) | ternary('infra', 'worker') }}
      machine.openshift.io/cluster-api-machine-type: {{ (machineset is search('infra')) | ternary('infra', 'worker') }}
      machine.openshift.io/cluster-api-machineset: {{ machineset }}
  unhealthyConditions:
  - type:    "Ready"
    timeout: "600s" 
    status: "False"
  - type:    "Ready"
    timeout: "600s" 
    status: "Unknown"
  maxUnhealthy: "40%" 
  nodeStartupTimeout: "20m" 

