apiVersion: v1
kind: PersistentVolume
metadata:
  name: etcd-backup-pv
spec:
  capacity:
    storage: 20Gi
  accessModes:
    - ReadWriteOnce
  claimRef:
    namespace: etcd-backup
    name: etcd-backup-pvc
  persistentVolumeReclaimPolicy: Retain
  nfs:
    server: {{ nfs_server }}
    path: "{{ nfs_path }}"

