apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: project-admins
  namespace: {{ ns.name }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: admin
subjects:
{% if ns.admin_groups is defined and ns.admin_groups|length %}
{% for group in ns.admin_groups %}
- apiGroup: rbac.authorization.k8s.io
  kind: Group
  name: {{ group }}
{% endfor %}
{% endif %}
{% if ns.admin_users is defined and ns.admin_users|length %}
{% for user in ns.admin_users %}
- apiGroup: rbac.authorization.k8s.io
  kind: User
  name: {{ user }}
{% endfor %}
{% endif %}

