---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: "{{ cluster_name }}-cluster-config"
  namespace: openshift-gitops
spec:
  destination:
    namespace: default
    server: https://kubernetes.default.svc
  project: default
  source:
    path: gitops-cluster-config/{{ cluster_name }}
    repoURL: https://bitbucket.blueshieldca.com/scm/caa/openshift_playbooks.git
    targetRevision: master

