apiVersion: v1
kind: Namespace
metadata:
  labels:
    app.kubernetes.io/instance: {{cluster_name}}-cluster-config
    cluster: {{cluster_name}}
    kubernetes.io/metadata.name: sealed-secrets
    owner: infra-ops
  name: sealed-secrets
spec:
  finalizers:
  - kubernetes
